.card1, .card2, .card3 {
  margin-top: 48px;
  height: 530px;
  padding-left: 20px;
  padding-top: 120px;
  padding-right: 100px;
  padding-bottom: 30px;
  width: 100%;
 
}

.card1 {
  background-image: url(../images/adventure-card.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card2 {
  background-image: url(../images/Reservation-Card.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card3 {
  background-image: url(../images/Plan-card.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-body {
  
  
  
}

.card-text {
  color: white;
  text-align: left;
}

.card4, .card5, .card6 {
  bottom: 0;
  z-index: 1;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    height: calc(100vh - 25px);
    position: relative;
    margin: 0 !important;
  
  }

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
  
}

.card-body {
  align-items: center;
} 

  .container {
   display: flex;
   position: absolute;
   top: 0;
   padding-top: 15px;
   max-width: 100%;

  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  .topnav {
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
    
  }

  .middlenav {
    display: flex;
    width: 100%;
    justify-content: center;
    
    
  }

.rightnav {
  display: flex;
  width: 100%;
  justify-content: right;
  
}

  .menu {
    display: flex;  
    width: 15px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
      
  }

  .centeredMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .middlenav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .middlenav a:hover {
    text-decoration: underline;
    font-weight: bold;
  }

  .btn {
    background-color: orange;
    outline: none;
    border: none;
  }

  h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
  }

  h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
  }

section {
  margin: 5%;
  
}

